  <!-- footer -->
   <!-- ================================================== -->
 <div class="container">
    </div>
         <!-- Start Footer -->
        <footer style="background-color: #222;
                            padding-top: 30px;
                    border-top: 4px solid #555;
                                color: #CCC;
                                margin-bottom: -51px;">
            <div class="container">
                <div class="row footer-widgets" >

                    <!-- Start Contact Widget -->
                    <div class="col-md-3">
                        <div class="footer-widget contact-widget">
                            <h4>Contact Info<span class="head-line"></span></h4>
                            <ul>
                                <li><span>Phone Number:</span> +2634 000 000</li>
                                <li><span>Email:</span> construction@construction.com</li>
                                <li><span>Website:</span> www.construction.com</li>
                            </ul>
                        </div>
                    </div>
                    <!-- .col-md-3 -->
                    <!-- End Contact Widget -->

                    <!-- Social Links Widget -->
                    <div class="col-md-3">
                        <h4>Site Map<span class="head-line"></span></h4>
                     <ul>
                         <li class="active">
                             <a href='{% url "home" %}'>Home</a>
                         </li>
                         <li>
                            <a class="selected" href='{% url "services" %}'>Services</a>
                         </li>
                         <li>
                             <a href='{% url "gallery"%}'>Gallery</a>
                         </li>
                         <li>
                            <a href='{% url "about" %}'>About</a>
                         </li>
                         <li>
                            <a href='{% url "contact" %}'>Contacts</a>
                         </li>
                     </ul>
                    </div>
                    <!-- .col-md-3 -->
                    <!-- Social Links Widget -->

                    <div class="col-md-3">
                        <h4>Construction<span class="head-line"></span></h4>
                        <ul class="footer-nav">
                            <li><a href="#">Developers</a>
                            </li>
                            <li><a href="#">Privacy Policy</a>
                            </li>
                            <li><a href="#">Contact</a>
                            </li>
                        </ul>
                    </div>

                    <!-- Start Twitter Widget -->
                    <div class="col-md-3">
                        <div class="footer-widget social-widget">
                            <h4>Follow Us<span class="head-line"></span></h4>
                            <ul class="social-icons">
                                <li>
                                    <a class="facebook" href="#"><i class="fa fa-facebook"></i></a>
                                </li>
                                <li>
                                    <a class="twitter" href="#"><i class="fa fa-twitter"></i></a>
                                </li>
                                <li>
                                    <a class="linkdin" href="#"><i class="fa fa-linkedin"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>

                        <p class="pull-right"><span class="glyphicon glyphicon-arrow-up" aria-hidden="true">
                            <a href="#">Back to top</a></span></p>
                </div>
                <!-- row -->

            </div>
            <!-- Start Copyright -->
            <div class="copyright-section">
                <div class="row">
                <div class="container">
                    <div class="col-md-6">
                        <p>&copy; 2014 Venue - All Rights Reserved </p>
                    </div>
                </div>
                </div>
            </div>
            <!-- End Copyright -->

        <!--</footer>-->
        </footer>